<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771996260275-34iiosrohs57nkl1aguak25cibhjstr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771996260275-34iiosrohs57nkl1aguak25cibhjstr0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>771996260275-5rkpd87mguna28rm79gj0g91jhmqa37u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDuOohh83t9eNrXV2VbWiltjGz4M2rA52E</string>
	<key>GCM_SENDER_ID</key>
	<string>771996260275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.skttech.user</string>
	<key>PROJECT_ID</key>
	<string>ts-drivers</string>
	<key>STORAGE_BUCKET</key>
	<string>ts-drivers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771996260275:ios:dbcd60f8e986f5c21f9dc6</string>
</dict>
</plist>